@import "tailwindcss";
:root{
    --grid-col-method: 20% 79%;
    --grid-row-method: auto auto;
    --main-container: 20% 80%;
} 
.maincontainer{
    grid-template-columns: var(--grid-col-method);
    align-content:start;
}
.sidebarcontainer{
    display: grid;
    grid-template-rows: 15% 75% 10%;
   
    height:100vh;
    background-color: oklch(22.682% 0.04445 235.921);
}

.logocontainer{
    display:grid;
    grid-template-columns: 20% 80%;
    color:white;
    justify-content: center;
}
.logocontainer div{
    margin-left: 20px;
    margin-top: 10px;
}

.logocontainer div h2{
    font-size: x-large;
    font-weight: 900;
}

.sidebarcontainer ul li{
    display: grid;
    grid-template-columns: 25% 75%;
    justify-content: center;
    margin:1Vh 0;
    padding: 7px;
}
.sidebarcontainer ul li:hover{
    background-color: rgb(18, 18, 88);
    border-radius: 5px;
}
.sidebarcontainer ul li span{
    margin-left: 2vw;
}
.versionDetail{
    color: white;
}
.versionDetail p{
    text-align: center;
}

/* main container part */
.Appdetailcontainer{
    height:2vh;
}

.Acontainer{
    display: grid;
    grid-template-columns: auto auto auto;
}
.a1{
    grid-template-columns: 15% 85%;
    background-color: oklch(92.058% 0.05269 157.196);
    align-items: center;
    border-radius: 15px;
    padding: 0 2px;
}
.a2{
    grid-template-columns: auto auto auto;
    align-items: center;
}
.maincontentcontainer{
    display:grid;
    grid-template-rows: auto auto auto auto auto;
}
.Bcontainer{
    display: grid;
    grid-template-columns: auto auto;
}
.totalservicecontainer{
    display: grid;
    grid-template-columns: auto auto auto;
}

.totalservicecontainer div{
    display: grid;
    grid-template-columns: auto auto;
}
.b1{
    display: grid;
    grid-template-columns: auto auto;
}
.b2{
    display:grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
}
.b3{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.servicedetailcontainer{
    display: grid;
    grid-template-columns: auto auto;

}
.ccontainer{
    grid-template-columns: auto auto;
}

.c1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 1px solid rgb(240, 238, 238);
}
.c2{
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 5px;
}
.c3{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    border:1px solid rgb(240, 238, 238);
}
.b5{
    display: grid;
    grid-template-columns: auto auto auto;
}
.b6{
    background-color: rgb(231, 202, 231);
}